  <!-- INÍCIO DO CONTEÚDO -->
  <section class="content-header">
    <h1>Sobre</h1>
  </section>

  <section class="content">
      <p class="lead">
        CRUD | Aplicação que demonstra um crud de pessoas utilizando angular.
      </p>
      <p class="lead">
        MIT license
      </p>
      <p class="lead">Acesso através do Link (CRUD API) (<a href="https://github.com/jvaldomirofilho/simple-crud-api">https://github.com/jvaldomirofilho/crud</a>)</p>
      <p class="lead">Acesso através do Link (CRUD APP UI) (<a href="https://github.com/jvaldomirofilho/simple-crud-ui">https://github.com/jvaldomirofilho/crud-ui</a>)</p>
      
  </section>
<!-- FIM DO CONTEÚDO -->